name: Deploy master branch

on:
  push:
    branches:
      - master

jobs:
  deploy:
    name: deploy
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.x]
    steps:
    - uses: actions/checkout@v3

    - name: setting envs in vm
      run: echo "${{secrets.ENVS_FILE }}" > .env
    
    - name: Installing serverless plugins
      run: npx serverless plugin install --name serverless-step-functions &&  npx serverless plugin install --name serverless-dotenv-plugin
-
    - name: Serverless deploy
      run: npx serverless deploy
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      
    - uses: actions/checkout@v3
